<h1>id=<%= @task.id %>のタスク詳細ページ</h1>
<%= @task.content %>

<%= link_to "一覧ページへ", tasks_path%>
<%= link_to "編集する", edit_task_path(@task) %>
<%= link_to "このタスクを削除する", @task, method: :delete,data:{confirm:"本当に削除してよろしいですか？"} %>